
.shopping-section {
  border: 3px solid #73AD21;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.cart-button {
  padding: 10px;
  background-color: transparent;
  border-style: none;
}

.material-icons{
  color : blue;
}


.form-popup {
  display: none;
  position: fixed;
  border-width: : 2px;
  border-style: outset;
  border-radius: 5px;
  z-index: 1;
}

.form-container {
  width: 400px;
  height: 250px;
  padding: 30px;
  background-color: skyblue;
}


.form-container h1{
  font-size: 20px;
  color: blue;
}



/*********** table ****************/

table {
  border-collapse: collapse;

}

.shopping-bag tr, th, td {
  border: 1px solid black;
  text-align: center;
  font-family: "arial, sans-serif"
}

th, td {
  padding: 10px;
}
