table {
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  background: green;
  color: white;
  font-size: 20px;
  text-align: center;
}

table, th, td {
  border: 5px groove #ddd;
}

th, td {
  padding: 20px;
}

body {
  background-image: url("http://file.didwallpaper.com/DataBank/upload/2006_5/images/6584-1(9).gif");
  background-size:cover;
}
