

/* 과목 추가 버튼 */
#addSubjectButton { 
    position: fixed;
    right:50px;
    bottom:50px;
    background-color: mediumaquamarine;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 2em;
    text-align:  center;
    z-index: 0;
    outline: 0; /* 버튼 클릭 시 보이는 외곽선 제거*/
}

/* 과목 추가 버튼 : hover */
#addSubjectButton:hover { 
    background-color: rgb(141, 231, 201);
}

/* 과목 삭제 버튼 */
.removeSubjectButton {
    position: absolute;
    left: 70px;
    bottom: 70px;
    border: none;
    border-radius: 50%;
    background-color: mediumaquamarine;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    outline: none;
}

/* 과목 삭제 버튼 : hover */
.removeSubjectButton:hover{
    background-color: rgb(141, 231, 201);
}

/* 과목 상자 */
.subjectContainer, .keywordContainer {
    position: relative;
    width: 30%;
    height: 600px;
    padding: 50px;
    margin-bottom: 100px;
}

.sortlist {
    border: none;
    outline: none;
    float: right;
}


/* 과목 상자 : hover */
.subjectContainer a:hover {
    color: gray;
}

/* 과목 상자 :: 과목 이름 */
.subjectContainer a {
    text-decoration: none;
    color: black;
}



/* 사이트 제목과 로그인 버튼을 포함하고 있는 상단 바 */
header {
    background-color: mediumseagreen;
    height: 100px;
    padding: 1rem;
    font-weight: bold;
    align-items: center;
    position: relative;
}

/* 사이트 제목 */
header h1 {
    color: white;
    padding-top: 10px;
    display: inline;
}

/* 로그인 버튼 */
#loginBT, #currentId, #logoutBT {
    width: 80px;
    border: none;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: mediumseagreen;
    outline: none;
    position: absolute;
    
}

#loginBT, #logoutBT {
    right: 15px;
}

#currentId {
    right: 120px;
}

/* 로그인 버튼 : hover */
#loginBT:hover,  #logoutBT:hover {
    background-color: rgb(105, 204, 149);
}

/* 과목 섹션에서의 버튼 */
#subjectButton {
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
}
#keywordButton {
    width: 100%;
    height: 40px;
    background-color: mediumseagreen;
    border: none;
    color: white;
    outline: none;
}


/* 팝업 페이지 루트 */
.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 폼 요소들을 담는 컨테이너 */
.form-container {
    width: 500px;
    height: 400px;
    margin-top: -200px;
    margin-left: -250px;
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    border-radius: 10px;
    z-index: 2;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(63, 63, 63);
}

/* 일정 이름 */
.form-container h1 {
    font-size: 20px;
}
#taskTitle {
    background-color: white;
    border: none;
    outline: 0;
    font-weight: bold;
}

/* 팝업 후방 비활성화 배경 */
#black_bg {
    display: none;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

/* 일정추가 / 취소 버튼 */
#formButtons {
    float: right;
}

/* 취소 버튼 */
#cancelButtonInForm {
    background-color: white;
    color: dodgerblue;
    border: none;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
#cancelButtonInForm:hover {
    color: blue;
}

/* 일정 추가 버튼 */
#addTaskButtonInForm {
    width: 70px;
    height: 35px;
    background-color: white;
    color: dodgerblue;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
#addTaskButtonInForm:hover {
    color: blue;
}

/* 팝업 인풋 요소들 */
input[type=text] {
    width:100%;
}
input[type=range] {
    width:100%;
}
input[type=datetime-local] {
    width: 100%;
}



/* 체크박스 */
.checkboxs {
    width: 20px;
    height: 20px;
}


/* 일정 삭제 버튼 */
.removeTaskButton {
    background-color: white;
    color: red;
    border: none;
    outline: none;
} 
.removeTaskButton:hover {
    color: rgb(172, 7, 7);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

/* 일정 수정 버튼 */
.editTaskButton {
    background-color: white;
    color: grey;
    border: none;
    outline: none;
}
.editTaskButton:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    color: rgb(90, 90, 90);
}


/* 일정 추가 버튼 */
.taskAddButton {
    position: absolute;
    right: 70px;
    bottom: 70px;
    border: none;
    border-radius: 50%;
    background-color: mediumaquamarine;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    outline: none;
}
.taskAddButton:hover {
    background-color: rgb(141, 231, 201);
}

/* 테이블 */
.taskContainer {
    position: relative;
}
table {
    width: 100%;
}

/* 컬럼들 */

.col1 .checkboxs{
    margin-top: 5px;
}
.col2 { 
    padding-left: 10px;
    font-size: 20px;
    word-break: break-all;  /* 일정 이름 오버플로우가 일어나면 다음줄로 줄바꿈을 한다. */
}